html{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*, 
*::before, 
*::after{
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}

a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
input:focus{outline: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
button:focus{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
// Глобальные стили.

body{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: $text;
  background-color: #f4f6f5;
}

// Прижать футер
html,
body{
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
// /Прижать футер

a{
  display: inline-block; 
  color: $text;
  }

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px){
  .container-fluid{
    padding: 0 15px;
  }
}

.header{
  background-color: #fff;
}
.page-content{
  background-color: $gray;
}

.title{
  text-align: center;
  margin-bottom: 30px;
  color: $bg;
  font-size: 36px;
  @include f700;
  line-height: 1.66666;
}

.rate-star{
  display: inline-block;
  margin-right: 13px;
}

// Хлебные крошки
.breadcrumbs{
  &__inner{
    padding: 45px 0 40px;
  }
  &__list{
    li{
      display: inline-block;
      position: relative;
      & + li{  
        padding-left: 24px;
        &::before{
          content: '-';
          position: absolute;
          left: 8px;
          color: $green;
        }
      }
      &:last-child{
        a,span{
          color: $bg;
        }
      }
    }
  }
  a{
    color: #b0bec5;
  }
}
// /Хлебные крошки

.angle-right{
  position: relative;
  padding-left: 15px;
  &::before{
    content: "\f105";
    position: absolute;
    font-size: 15px;
    font-family: 'icomoon';
    left: 0;
    top: -3px;
    color: $green;
  }
}