@import 'vars';
@import 'global';
@import 'fonts';

// HEADER

.header__top-inner{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text{
  line-height: 1.6;

  margin-left: auto;
  margin-right: 50px;
  span{
    color: $red;
  }
}
//  BTN header
.header__btn{
  width: 80px;

  font-size: 12px;
  line-height: 2;
  color: #fff;

  padding: 4px;

  border-radius: 4px;
  text-align: center;
}

.header__btn-login{
  background-color: $green;
}

.header__btn-register,
.header__btn-logout{
  background-color: $red;
  margin-left: 7px;
}

.header__btn--off{
  display: none;
}

.header__btn-logout{
  display: none;
  &.header__btn--on{
    display: block;
  }
}
// /BTN header

.header__menu{
  background-color: $bg;
}

.menu{
  height: 60px;

  display: flex;
  align-items: center;
}

.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 28px;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
    transition: .2s linear;
    &:hover{
    color: $green;
    }
  }
}

.header__box{
  display: flex;
  align-items: center;
}

.header__circle{
  &.active{
    display: block;
  }
  display: none;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
  span{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    @include f600;
  }
}

.notification{
  span{
    background-color: $yellow;
  }
}

.message{
  span{
    background-color: $tomato;
  }
}

.basket{
  margin-right: 20px;
  span{
    background-color: $green;
  }
}

.user{
  position: relative;
  height: 90px;
  margin-top: 40px;
  &:hover{
    .user__menu{
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
      a{
        margin-bottom: 20px;
      }
    }
  }
}

.user__menu{
  border: 0px solid rgb(204, 204, 204);
  position: absolute;
  top: 70px;
  left: 20px;
  background-color: #fff;
  width: 158px;
  padding: 0 20px;
  transition: .2s linear;
  height: 0;
  overflow: hidden;
  a{
    font-size: 12px;
    color: #546e7a;  
    margin-bottom: 0;
  }
}

.circle__menu{
  position: absolute;
  top: 63px;
  right: -11px;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  z-index: 1;
}

.basket__box,
.message__box,
.notification__box{
  margin-top: 53px;
  height: 90px;
  position: relative;
  margin-left: 20px;
  &:hover{
    .header__circle::before{
      color: $bg;
    }
    .circle__menu{
      overflow: hidden;
      height: auto;
    }
    .circle__item{
    padding: 23px;
    border-width: 1px;
    }
  }
}

.user__box{
  margin-right: 25px;
  padding-right: 20px;
  position: relative;
  &::before{
    position: absolute;
    content: "\f107";
    font-family: 'icomoon';
    font-size: 16px;
    color: #707070;
    top: 4px;
    right: 0;
  }
  &-inner{
    display: flex;
    align-items: center;
  }
  &-images{
    margin-right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
  }
  &-info{
    font-size: 14px;
    line-height: 1.7;
  }
  &-name{
    @include f500;
    color: #222222;
  }
  &-money{
    color: $green;
    @include f700;
  }
}

.circle__item{
  width: 269px;
  padding: 0 23px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #e0e0e0;
  border-left-width: 1px;
  border-right-width: 1px;
  transition: .2s linear;
  &::before{
    position: absolute;
    top: 35px;
    right: 20px;
    color: #b0bec5;
    font-size: 16px;
  }
}

.circle__images{
  margin-right: 15px;
}

.circle__info-name {
  @include f500;
  color: $bg;
}
.circle__info-theme {
  font-size: 12px;
  color: $green;
}
.circle__info-price {
  @include f500;
  color: #000;
  font-size: 16px;
}

.circle__info-date{
  font-size: 10px;
  color: #707070;
}

.basket__sum {
  padding: 16px 17px 12px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
}

.basket__title{
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  font-size: 16px;
  @include f700;
  margin-bottom: 15px;
  color: $bg;
}

.basket__btn{
  font-size: 13px;
  color: #fff;
  @include f700;
  padding: 12px 5px;
  background-color: $green;
  text-align: center;
  width: 100px;
}

.basket__btn-chekout{
  width: 120px;
  margin-left: 6px;
  background-color: $tomato;
}

.notification__menu,
.message__menu{
  .circle__images{
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle__info{
    line-height: 1.4;
  }
}

.icon-color::before{
  color: $tomato;
}

.header__btn-menu,
.menu__btn{
  display: none;
}

// END HEADER
// MODAL
#modal{
  background-color: $green;
  max-width: 730px;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
}

.login__title{
  text-align: center;
  font-size: 48px;
  @include f700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.login__wrapper{
  form{
    max-width: 400px;
    margin: 0 auto;
  }
  label{
    position: relative;
    display: block;
    width: 100%;
    &::before{
      position: absolute;
      font-family: 'icomoon';
      color: #fff;
      font-size: 14px;
      left: 18px;
      top: 11px;
    }
  }
  .login__label-name::before{
    content: "\f007";
  }
  
  .login__label-pass::before{
    content: "\f023";
  }
  input{
    height: 43px;
    margin-bottom: 8px;
    background-color: #76ae36;
    color: #fff;
    font-size: 14px;
    padding-left: 40px;
    display: block;
    width: 100%;
    &::placeholder{
      font-size: 14px;
      color: #fff;
    }
  }
  button{
    margin-top: 19px;
    margin-right: 10px;
    padding: 18px 0 16px;
    background-color: #fff;
    width: 140px;
    text-transform: uppercase;
    @include f700;
    color: #000;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    font-size: 14px;
  }
}

.lost-pass{
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}

.create__acc{
  padding: 10px 0 13px;
  text-align: center;
  width: 245px;
  background-color: #76ae36;
  font-size: 18px;
  position: relative;
  color: #fff;
  &::before{
    content: "\f044";
    font-family: 'icomoon';
    position: absolute;
    left: 35px;
    top: 10px;
  }
}

.fancybox-button svg{
  color: #fff;
}
// END MODAL
// SEARCH

.search{
  min-height: 532px;
  background-color: $bgi;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.page-search{
    min-height: 230px;
    .search__inner{
      padding: 60px 0 70px;
      &-text{
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner{
  color: #fff;
  line-height: 1.5;

  padding: 155px 0 100px;

  text-align: center;
  &-title{
    font-size: 48px;
    @include f700;
    margin-bottom: 10px;
  }
  &-text{
    font-size: 20px;
    @include f500;
    margin-bottom: 50px;
  }
  &-form{
    max-width: 670px;
    width: 100%;

    margin: 0 auto;
    position: relative;
    input{
      height: 56px;
      width: 100%;
      display: block;

      font-size: 14px;
      line-height: 2;

      padding-left: 25px;
      padding-right: 60px;

      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      &::placeholder{
        color: #90a4ae;
        @include f500;
      }
    }
    button{
      width: 20px;
      height: 20px;

      position: absolute;
      right: 20px;
      top: 17px;

      border: none;
      background-color: transparent;
      outline: none;
    }
  }
}

// END SEARCH
// PRODUCTS

.products{
  padding: 110px 0;
  background-color: $gray;
}

.products__title{
  color: &bg;
}

.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
button{
  padding: 12px 12px;

  background-color: #fff;
  color: $bg;
  & + button{
    margin-left: 5px;
  }
  &.mixitup-control-active{
    background-color: $red;
    color: #fff;
  }
 }
}

.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item{
  max-width: 442px;
  width: 100%;

  color: $bg;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content{
    min-height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

    @include f500;

    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
    display: block;
  }
  &-title{
    display: block;

    line-height: 1.66666;
    font-size: 18px;
  }
  &-category{
    display: block;

    font-size: 14px;
    color: $green;
  }
  &-price{
    font-size: 20px;
    @include f700;
  }
  &-info{
    min-height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;
  }
  &-author{
    max-width: 245px;

    display: flex;
    align-items: center;
    .avatar{
      display: inline-block;

      min-width: 30px;
      height: 30px;

      margin-right: 14px;
      border-radius: 50%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    font-size: 12px;
    line-height: 0;
    span{
      color: $bg;
    }
  }
}

.products__botom-btn{
  text-align: center;
  button{
    width: 165px;
    height: 52px;
    margin: 45px 5px 0;
    padding: 20px 30px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);background-color: #fff;
    font-size: 16px;
    color: $bg;
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
    }
  }
  
}
// END PRODUCTS
// PRODUCTS SLIDER

.product-slider {
  padding: 110px 0 120px;
  .slider__dots{
    margin-top: 50px;
    text-align: center;
    li{
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{
        width: 16px;
        height: 16px;

        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        outline: none;
        font-size: 0;
      }
    }
  }
}
// PRODUCTS END SLIDER
// ADVANTAGES

.advantages{
  background-color: $bg;
  padding: 110px 0;
}

.advantages__title{
  color: #fff;
}

.advantages__inner{
  display: flex;
  justify-content: space-between;
}

.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0px 10px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
    }
      g{
        fill: #fff;
      }
    .advantages__item-title{
      color: $green;
    }
  }
  &-images{
    width: 114px;
    height: 114px;

    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 30px;
    transition: .2s linear;
  }
  &-title{
    font-size: 24px;
    color: #fff;
    @include f500;

    transition: .2s linear;
    margin-bottom: 25px;
  }
  &-text{
    line-height: 1.6;
  }
}

.advantages__item-images svg{
  width: 55px;
}
// END ADVANTAGES
// AUTHOR

.author{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 750px;

  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $green;
  }
  &__title{
    width: 300px;

    font-size: 28px;
    line-height: 1.2;
    color: #fff;

    margin-right: 45px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 2;

    padding: 15px 40px;
    background-color: #fff;

    transition: .2s linear;
    &:hover{
      background-color: $bg;
      color: #fff;
    }
  }
}
// END AUTHOR
// TUTORIAL

.tutorial{
  padding: 70px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    &-images{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      min-height: 270px;
    }
    &-name{
      font-size: 24px;
      @include f700;

      color: $bg;
      background-color: #f8f8f8;
      text-align: center;
      
      padding: 30px 10px;
    }
  }
}
// END TUTORIAL
// FOOTER

.footer{
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;

    padding: 100px 0 80px;
  }
}

.footer__copy{
  border-top: 1px solid #424d53;
}

.footer__copy-text{
  text-align: center;
  color: #919699;
  padding: 25px 0 25px;
}

.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    position: relative;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;

    padding-bottom: 30px;
    margin-bottom: 30px;
    &::after{
      content: '';
      position: absolute;
      width: 51px;
      height: 3px;
      left: 2px;
      bottom: 0;
      background-color: $green;
    }
  }
  &-text{
    line-height: 1.6;
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}

.footer__info{
  margin-top: 18px;
  padding-left: 30px;

  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;

  position: relative;
  &::before{
    content: "\f041";
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: -3px;
  }
  &-phone{
    &::before{
      content: "\f095";
    }
  }
}

.footer__col-list{
  li{
    margin-bottom: 15px;
    position: relative;
  }
  a{
    color: #b7c3c8;
  }
}

.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    & + li{
      margin-left: 7px;
    }
  }
  a{
  width: 28px;
  height: 28px;
  background-image: url(../images/social/css_sprites.png);
  }
}

.link-tweeter{
  background-position: -28px 0;
}
.link-youtube{
  background-position: 0 -28px;
}
.link-pinterest{
  background-position: -28px -28px;
}
.link-linkedin{
  background-position: -56px 0;
}

.footer__form-title{
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__form{
  position: relative;
  input{
    display: block;
    width: 100%;
    height: 40px;

    color: #fff;
    background-color: #2f3c43;

    font-size: 14px;

    padding-left: 13px;
    padding-right: 50px;
    &::placeholder{
      color: #697378;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    height: 40px;
    width: 43px;
    &::after{
      content: "\f124";
      position: absolute;
      top: 8px;
      left: 13px;

      font-size: 20px;
      font-family: 'icomoon';
      color: #fff;
    }
  }
}

// END FOOTER
// PRODUCT PAGE ASIDE
.products-page__inner{
  display: flex;
  padding-bottom: 110px;
}

.products-page__aside{
  margin-right: 30px;
}

.aside__item{
  width: 270px;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0px 32px 32px;
  margin-bottom: 30px;
}

.aside__title{
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  @include f700;
  padding: 20px 0;
}

.category__list{
  padding-top: 10px;
  li{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0 10px 20px;
    &::before{
      content: "\f105";
      font-family: 'icomoon';
      color: #8bc34a;
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }
  a{
    color: $bg;
  }
  span{
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range{
  button{
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    color: #fff;
    @include f500;
    text-align: center;
    width: 100%;
    position: relative;
    &::before{
      content: "\f002";
      position: absolute;
      top: 15px;
      left: 58px;

      font-size: 15px;
      font-family: 'icomoon';
      color: #fff;
    }
  }
}

.products-page__aside{
  .products__item-img{
    min-height: 120px;
  }
  .products__item{
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dedede;
  }
  .products__item-content{
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .products__item-info{
    padding: 0;
    min-height: 0;
  }
  .products__item-title{
    font-size: 16px;
  }
  .products__item-price{
    font-size: 16px;
  }
  .rate-star{
    margin-right: 0;
  }
  .products__item-author .avatar{
    margin-right: 9px;
  }
  .jq-ry-container{
    padding: 0;
  }
}

.aside__product-item{
  .products__item:last-child{
    border: none;
    padding-bottom: 0;
  }
  .products__item:first-child{
    margin-top: 25px;
  }
}

.top-sellers__link{
  display: block;
  padding: 16px 10px;
  background-color: $green;
  color: #fff;
  @include f500;
  text-align: center;
}

// ionRangeSlider
.irs-min,
.irs-max{
  display: none;
}
.irs--round{
  max-width: 185px;
}
.irs--round .irs-handle {
  width: 16px;
  height: 16px;
  top: 29px;
  border: 4px solid $green;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,255,.3);
}
.irs--round .irs-bar {
  top: 35px;
  height: 5px;
  background-color: #37474f;
}
.irs-line {
  background-color: #f2f5f8;
  border-radius: 4px;
}
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to {
  font-size: 15px;
  line-height: 1.333;
  color: #78909c;
  background-color: transparent;
  text-shadow: none;
  border-radius: 0;
  padding: 0;
}
.irs--round .irs-from:before, .irs--round .irs-single:before, .irs--round .irs-to:before {
  display: none;
}
.irs-from, .irs-single, .irs-to {
  top: 53px;
}
// /.ionRangeSlider
// END PRODUCT PAGE ASIDE


// products page content

.products-page__content{
  width: 100%;
}

.products-page__filter{
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0px 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-sort{
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  button{
    font-size: 16px;
    background-color: transparent;
    color: #90a4ae;
    &.active{
      color: $green;
    }
  }
}

button.icon-sort-amount-desc{
  margin-right: 10px;
  font-size: 14px;
  color: #455a64;
}

button.icon-unsorted{
  margin-left: 10px;
  font-size: 18px;
  color: #707070;
}

.products-page__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  .products__item{
    max-width: 270px;
    background-color: #fff;
    transition: 0.25s linear;
    &-content{
      padding: 10px 20px;
    }
    &-name{
      max-width: 480px;
    }
    &-title{
      font-size: 16px;
    }
    &-text{
      display: none;
    }
    &-price{
      span{
        display: none;
      }
    }
    &-info{
      min-height: 65px;
      padding: 10px 20px;
    }
    &-img{
      min-height: 180px;
    }
    &-opinion{
      display: none;
    }
    &.list{
      max-width: 100%;
      .products__item-img{
        width: 240px;
        min-height: 100%;
        float: left;
      }
      .products__item-text{
        display: block;
        font-size: 14px;
        color: #70838d;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .products__item-price{
        font-size: 30px;
        span{
          display: block;
          font-size: 13px;
          color: #aeb4bb;
          margin-top: 30px;
        }
      }
      .products__item-content{
        padding-top: 23px;
      }
      .products__item-opinion{
        display: block;
        .icon-comment-o,
        .icon-heart-o{
          display: inline-block;
          font-size: 12px;
          color: #70838d;
          padding-left: 50px;
          border-left: 1px solid #aeb4bb;
          position: relative;
          span{
            @include f500;
            color: $bg;
          }
          &::before{
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: -2px;
          }
        }
        .icon-comment-o{
          padding-right: 30px;
          &::before{
            top: -3px;
          }
        }
      }
      .products__item-star{
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }
}

.rate-star{
  margin-right: 5px;
}
.jq-ry-container{
  padding: 0;
}

.pagination__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 6px;
    }
  }
  a,span{
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    color: $bg;
    @include f500;
    &.active{
      background-color: $red;
      color: #fff;
    }
  }
}
// END products page content
// PRODUCT-ONE

.product-one {
  padding-bottom: 100px;
}

.product-one__inner {
  display: flex;
}
.product-one__content {
  max-width: 870px;
  margin-right: 31px;
}

.product-one__images-bg{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.product-one__images{
  max-width: 829px;
  width: 100%;
  height: 422px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-one__title {
  font-size: 30px;
  line-height: 1.33333;
  color: $bg;
  @include f500;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-one__text {
  font-size: 16px;
  color: #707070;
  margin-bottom: 35px;
  margin-top: 20px;
}
.product-one__box {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.product-one__link {
  a{
    padding: 14px 7px;
    width: 150px;
    color: $gray;
    font-size: 16px;
    & + a{
    margin-left: 20px;
    }
  }
}
.live{
  background-color: $red;
}
.screenshot{
  background-color: $green;
}
.documentation{
  background-color: #455a64;
}

.product-one__social {
  a{
    width: 54px;
    height: 50px;
    position: relative;
    & + a{
      margin-right: 3px;
    }
    &::before{
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.icon-facebook {
  background-color: #6370b6;
}
.icon-twitter {
  background-color: #64b5f6;
}
.icon-linkedin {
  background-color: #4f71ce;
}
.icon-pinterest-p {
  background-color: #d32f2f;
}


.tabs{
  display: flex;
  text-align: center;
  border: 1px solid #d7d7d7;
  .tab{
    font-size: 16px;
    color: #70838d;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    cursor: pointer;
    & + .tab{
      border-left: 1px solid #d7d7d7;
    }
  }
}

.tab_content{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-top: none;
  padding: 30px 30px 50px;
}

.tab-item{
  display: none;
  &:first-child{
    display: block;
  }
}

.tab-item__list{
  font-size: 16px;
  line-height: 2.25;
  color: #707070;
  column-count: 2;
  li{
    max-width: 270px;
    width: 100%;
  }
}

.product-one__more{
  margin-top: 55px;
}

.product-one__more-title {
  font-size: 18px;
  @include f500;
  color: $bg;
  padding: 18px 25px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin-bottom: 28px;
}

.product-one__more-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  max-width: 270px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}

.thumbnail__images {
  width: 100px;
  height: 90px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.thumbnail-name {
  font-size: 14px;
  @include f500;
  color: $bg;
}
.thumbnail-thema {
  font-size: 12px;
  color: $green;
}

.thumbnail-price {
  font-size: 18px;
  @include f700;
}

// END PRODUCT-ONE
// PRODUCT-ONE ASIDE

.price__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.price__product {
  font-size: 22px;
  @include f500;
  color: $red;
}

.product__price{
  button{
    margin-bottom: 7px;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    background-color: $green;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 17px 5px 15px;
    width: 100%;
    background-color: $text;
    &::before{
      font-weight: 400;
      font-family: 'icomoon';
      padding-right: 8px;
    }
  }
  .icon-shopping-cart{
    background-color: $green;
  }
  .icon-heart-o{
    background-color: #42a5f5;
  }
}

.product-autor__box {
  padding: 25px 0;
  display: flex;
}

.autor__avatar {
  margin-right: 14px;
}

.autor__name {
  font-size: 18px;
  color: $bg;
  margin-bottom: 2px;
}

.autor__link {
  font-size: 13px;
  color: #707070;
  padding: 6px 9px 5px;
  border: 1px solid #d6d6d6;
}
.autor__awords-list {
  li{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    position: relative;
    color: #fff;
    &::before{
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
    }
    & + li{
      margin-left:4px;
    }
  }
}

.icon-meh-o {
  background-image: url(../images/awords/orange.png);
  width: 34px;
  height: 37px;
}
.icon-pagelines {
  background-image: url(../images/awords/red.png);
  width: 34px;
  height: 37px;
}
.icon-flash {
  background-image: url(../images/awords/blue.png);
  width: 34px;
  height: 37px;
}
.icon-foursquare {
  background-image: url(../images/awords/green.png);
  width: 34px;
  height: 37px;
}
.icon-yen {
  background-image: url(../images/awords/gray.png);
  width: 34px;
  height: 37px;
}


.aside__item-sales {
  padding-top: 23px;
  font-size: 16px;
  @include f300;
  color: #707070;
  span{
    font-size: 20px;
    @include f700;
    color: #263238;
    padding-right: 13px;
    &::before{
      content: "\f07a";
      font-size: 20px;
      font-family: 'icomoon';
      color: #a6b5bb;
      padding-right: 20px;
    }
  }
}

.aside__item.sales {
  padding-bottom: 25px;
}

.aside__info-line {
  font-size: 14px;
  line-height: 1.2;
  color: #70838d;
  margin-top: 20px;
  span{
    color: $bg;
    @include f500;
  }
}
// END PRODUCT-ONE ASIDE
// 404

.page-404__wrapper,
.about__wrapper,
.contact__wrapper {
  border: 1px solid #dcdcdc;
  background-color: #fff;
  margin-bottom: 150px;
}

.page-404__head,
.about__head,
.contact__head{
  font-size: 24px;
  color: #444;
  @include f500;
  padding: 23px 27px;
  border-bottom: 1px solid #dcdcdc;
}

.page-404__inner {
  text-align: center;
  background-color: $green;
  color: #fff;
}

.page-404__error {
  @include f800;
  font-size: 300px;
  line-height: 1;
  padding-top: 70px;
  padding-bottom: 20px;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    background-image: url(../images/404.png);
    width: 150px;
    height: 292px;
    margin-left: 20px;
  }
  &::before{
    position: absolute;
    content: '';
    background-image: url(../images/404-layer.png);
    width: 157px;
    height: 20px;
    right: 110px;
    bottom: 20px;
  }
}

.page-404__title {
  font-size: 30px;
  @include f300;
  margin-bottom: 35px;
}
.page-404__text {
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.page-404__link {
  font-size: 14px;
  @include f500;
  text-transform: uppercase;
  padding: 20px 30px 16px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 100px;
  color: #fff;
}
// END 404
//  ABOUT
.about__inner{
  padding: 0 50px;
}

.about__box{
  h3{
    font-size: 20px;
    @include f700;
    color: #444;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 40px;
  }
}
// END ABOUT
// CONTACT

.contact__head {
  padding-left: 40px;
  padding-right: 40px;
}

.contact__inner {
  padding: 35px 40px 15px;
}

.contact__map {
  margin-bottom: 50px;
  iframe{
    width: 100%;
    height: 415px;
  }
}

.contact__box{
  display: flex;
}

.contact__info {
  margin-right: 30px;
  max-width: 330px;
  width: 100%;
  @include f500;
  color: $bg;
}
.contact__info-item {
  margin-bottom: 30px;
}

.contact__info-title {
  padding-bottom: 20px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  &::after{
    content: '';
    width: 44px;
    height: 4px;
    background-color: $green;
    left: 40px;
    bottom: 0;
    position: absolute;
  }
  &::before{
    color: $green;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: -3px;
  }
}

.contact__info-content {
  padding-left: 40px;
  color: #707070;
  max-width: 230px;
}

.contact__form-title {
  margin-bottom: 20px;
  font-size: 24px;
  @include f500;
  color: #333;
}

.contact__form{
  width: 100%;
  input{
    display: block;
    border: none;
    height: 43px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f1f4f5;
    width: 350px;
    margin-bottom: 30px;
    &::placeholder{
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  textarea{
    border: none;
    padding: 13px 17px;
    height: 190px;
    background-color: #f1f4f5;
    display: block;
    width: 100%;
    resize: none;
    margin-bottom: 23px;
    &::placeholder{
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  button{
    border: none;
    background-color: $green;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    @include f500;
    padding: 20px 5px;
    width: 190px;
  }
}

.contact__form-row {
  display: flex;
  justify-content: space-between;

}

// END CONTACT

// Media
@import 'media';